body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

body section {
    margin: 0px 200px;
}

header {
    background-color: #2C3E50;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#formularioBusqueda {
    display: flex;
    border-radius: 5px;
    justify-content: center;
}

#formularioBusqueda button:hover {
    filter: brightness(80%); 
}

#formularioBusqueda #personas {
    width: 100px;
}

#formularioBusqueda input,
#formularioBusqueda select,
#formularioReserva input,
#formularioReserva button {
    margin: 3px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contenedorDetallesPago{
    display: flex;
    flex-direction: row;
}

.contenedorDetallesPago .detallesPago div{
    margin: 30px;
}

.contenedorDetallesPago #precioTotalPago{
    background-color:#5b728a;
    padding: 10px;

}



#mensajeAlerta{
    padding: 10px; 
    background-color: #f8d7da; 
    color: #721c24; 
    border: 1px solid #f5c6cb; 
    margin-bottom: 10px; 
    border-radius: 5px;
}

#formularioPago,
#confirmacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8b9eb1;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 30px auto;
    width: 50%;
}

#formularioPagoDatos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#formularioPagoDatos input {
    padding: 5px;
}

#formularioPagoDatos #cvv {
    width: 60px;
}

#contenedorResultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tarjetaResultado {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: calc(33% - 20px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    width: 90%;
}

.tarjetaResultado img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 20px;
}

.tarjetaResultado p {
    margin: 5px 0;
}

.tarjetaResultado button {
    background-color: #2C3E50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.tarjetaResultado button:hover {
    background-color: #1A242F;
}

#contenedorDetalles {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#contenedorDetalles .texto {
    background-color: #FFFFFF;
    border-top: 1px solid #DDD;
    border-radius: 8px;
    padding: 0px 15px 15px;
}

#contenedorDetalles img {
    width: 700px;
    height: 400px;
    object-fit: cover;
}

#confirmacion {
    width: 50%;
    text-align: center;
}

button {
    background-color: #2C3E50;
    color: white;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1A242F;
}

#botonVolver,
#botonVolverPago {
    background-color: #2C3E50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#botonVolver:hover,
#botonVolverPago:hover {
    background-color: #1A242F;
}

footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 10px 0;
}
